iac/asl.json
{
  "Comment": "Prototype",
  "StartAt": "T0",
  "States": {
    "T0": {
      "Type": "Task",
      "Resource": "${Fn}",
      "Parameters": {
        "source": "t0",
        "status.$": "$.status"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "ResultPath": "$.error",
          "Next": "HandleCause-T0"
        }
      ],
      "End": true
    },
    "HandleCause-T0": {
      "Type": "Pass",
      "Parameters": {
        "status.$": "$.status",
        "parsedCause.$": "States.StringToJson($.error.Cause)"
      },
      "Next": "HandleErrorMessage-T0"
    },
    "HandleErrorMessage-T0": {
      "Type": "Pass",
      "Parameters": {
        "status.$": "$.status",
        "parsedErrorMessage.$": "States.StringToJson($.parsedCause.errorMessage)"
      },
      "Next": "DependencyConditionCheck-T0"
    },
    "DependencyConditionCheck-T0": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.parsedErrorMessage.t0.state",
          "StringEquals": "FAILED",
          "Next": "T1"
        }
      ],
      "Default": "Success"
    },
    "T1": {
      "Type": "Task",
      "Resource": "${Fn}",
      "Parameters": {
        "source": "t1",
        "status.$": "$.status"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "ResultPath": "$.error",
          "Next": "HandleCause-T1"
        }
      ],
      "ResultSelector": {
        "status.$": "States.StringToJson($)"
      },
      "OutputPath": "$",
      "Next": "Success"
    },
    "HandleCause-T1": {
      "Type": "Pass",
      "Parameters": {
        "status.$": "$.status",
        "parsedCause.$": "States.StringToJson($.error.Cause)"
      },
      "Next": "HandleErrorMessage-T1"
    },
    "HandleErrorMessage-T1": {
      "Type": "Pass",
      "Parameters": {
        "status.$": "$.status",
        "parsedErrorMessage.$": "States.StringToJson($.parsedCause.errorMessage)"
      },
      "Next": "Failure"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Failure": {
      "Type": "Fail"
    }
  }
}