iac/asl.json
{
  "Comment": "Prototype",
  "StartAt": "TypeSelector",
  "States": {
    "TypeSelector": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.type",
          "StringEquals": "parallel",
          "Next": "MapParallel"
        }
      ],
      "Default": "DefaultSerial-T0"
    },
    "DefaultSerial-T0": {
      "Type": "Task",
      "Resource": "${Fn}",
      "Parameters": {
        "source": "t0",
        "status.$": "$.status"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "ResultPath": "$.error",
          "Next": "HandleCause-T0"
        }
      ],
      "End": true
    },
    "HandleCause-T0": {
      "Type": "Pass",
      "Parameters": {
        "status.$": "$.status",
        "parsedCause.$": "States.StringToJson($.error.Cause)"
      },
      "Next": "HandleErrorMessage-T0"
    },
    "HandleErrorMessage-T0": {
      "Type": "Pass",
      "Parameters": {
        "status.$": "$.status",
        "parsedErrorMessage.$": "States.StringToJson($.parsedCause.errorMessage)"
      },
      "Next": "DependencyConditionCheck-T0"
    },
    "DependencyConditionCheck-T0": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.parsedErrorMessage.t0.state",
          "StringEquals": "FAILED",
          "Next": "T1"
        }
      ],
      "Default": "Success"
    },
    "T1": {
      "Type": "Task",
      "Resource": "${Fn}",
      "Parameters": {
        "source": "t1",
        "status.$": "$.status"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "ResultPath": "$.error",
          "Next": "HandleCause-T1"
        }
      ],
      "ResultSelector": {
        "status.$": "States.StringToJson($)"
      },
      "OutputPath": "$",
      "Next": "Success"
    },
    "HandleCause-T1": {
      "Type": "Pass",
      "Parameters": {
        "status.$": "$.status",
        "parsedCause.$": "States.StringToJson($.error.Cause)"
      },
      "Next": "HandleErrorMessage-T1"
    },
    "HandleErrorMessage-T1": {
      "Type": "Pass",
      "Parameters": {
        "status.$": "$.status",
        "parsedErrorMessage.$": "States.StringToJson($.parsedCause.errorMessage)"
      },
      "Next": "Failure"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Failure": {
      "Type": "Fail",
      "Error": "Downstream task failed",
      "CausePath": "$.status"
    },
    "MapParallel": {
      "Type": "Map",
      "ItemsPath": "$.tasks",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "P0",
        "States": {
          "P0": {
            "Type": "Task",
            "Resource": "${Fn}",
            "Catch": [
              {
                "ErrorEquals": [
                  "States.TaskFailed"
                ],
                "ResultPath": "$.error",
                "Next": "HandleCause-P0"
              }
            ],
            "End": true
          },
          "HandleCause-P0": {
            "Type": "Pass",
            "Parameters": {
              "status.$": "$.status",
              "parsedCause.$": "States.StringToJson($.error.Cause)"
            },
            "Next": "HandleErrorMessage-P0"
          },
          "HandleErrorMessage-P0": {
            "Type": "Pass",
            "Parameters": {
              "status.$": "$.status",
              "parsedErrorMessage.$": "States.StringToJson($.parsedCause.errorMessage)"
            },
            "Next": "MapFailure"
          },
          "MapFailure": {
            "Type": "Fail",
            "Error": "Downstream task failed",
            "CausePath": "$.status"
          }
        }
      },
      "End": true
    }
  }
}